
   
@function px2rem($px){
	@return $px/144 + rem;
}
@mixin borderBottom {
    border-bottom: 1px solid #D0D0D0;
}
$mainBgColor: #F7F7F7;
body,*{
    // overflow: hidden;
    box-sizing: border-box;
}

body > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2){  
    z-index: 2 !important;  
}